<p id="notice"><%= notice %></p>

<p>
  <strong>UserVote status:</strong>
  <%= @user_vote.vote_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_vote.user_id %>
</p>

<p>
  <strong>Slam:</strong>
  <%= @user_vote.slam_id %>
</p>

<%#= link_to 'Edit', edit_vote_path(@vote) %> |
<%#= link_to 'Back', slam_votes_path(params[:slam_id]) %>
