<p>
  <strong>Group name:</strong>
  <%= @user_group.group_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_group.user %>
</p>

<%= link_to 'Edit', edit_user_group_path(@user_group) %> |
<%= link_to 'Back', user_groups_path %>
