<h1>Listing members</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.user_id %></td>
        <td><%= member.user_group_id %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%#= link_to 'Edit', edit_member_path(member) %></td>
        <td><% if can? :destroy, member %> <%= link_to 'Leave Group', member, method: :delete, data: { confirm: 'Are you sure?' } %><% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if params[:user_group_id] %>

<%#= link_to 'New Member custom', new_user_group_member_path(params[:user_group_id]) %>
<% else %>
<%#= link_to 'New Member', new_member_path %>

<% end %>
